body {
    font-family: "Poppins", sans-serif;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color:black;
    font-weight: bold;
}

h1 {
    font-size: 96px;
    font-family: "Playfair Display", serif;
}

h2 {
    font-size: 64px;
    font-family: "Poppins", sans-serif;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
}

.hero {
background-color: #f9f7fe;
text-align: center;
padding: 160px 20px;

}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    line-height: 2;
}

.btn-branding {
    background: white;
    border-radius: 4px;
    padding: 15px 15px;
    color: #385170;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    border: 1px solid #385170;

}
.btn-branding-outline {
    color: #385170;
    border: 1px solid #385170;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 15px; 
}

.secondary-link {
    background: white;
    border-radius: 4px;
    padding: 15px 15px;
    color: #385170;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    border: 1px solid #385170;
}

.secondary-link-outline {
    color: #385170;
    border: 1px solid #385170;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 15px; 
}

.contact-me {
    text-align:center;
}


@media (max-width: 960px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }
    h2 {
        font-size: 44px;
    }
    .hero {
        padding: 80px 20px;
    }

    .about-section {
        text-align: center;
        padding: 0;
    }
    .project-description {
    padding: 0;
    text-align: center;
    }
}
