body {
    font-family: "Poppins", sans-serif;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color:black;
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

p {
    font-weight: normal;
    
}

.hero {
background-color: oldlace;
text-align: center;
padding: 160px 20px;

}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #2b4353;


}

.hero h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    line-height: 2;
}

.hero + div {
  text-align: center;
  margin-top: 20px; 
}

.btn-branding {
    background: #ff894c;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
