:root {
    
}

body {
    background-color: oldlace;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color:black;
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

p {
    font-weight: normal;
    
}

.hero {
text-align: center;
padding: 160px 20px;

}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #2b4353;


}

.hero 2 {

}

.btn-branding {
    text-align:  center;
    background: #ff894c;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}